<!-- <app-nuevo-componente></app-nuevo-componente>
<app-suma [num1]="25" [num2]="24" ></app-suma>
<app-cronometro [inicio]="4" (mensaje)="onMensaje($event)"></app-cronometro>
<app-cronometro></app-cronometro>
<app-cronometro [inicio]="25"></app-cronometro>
<app-cronometro></app-cronometro>
<app-calculadora sms="Mensaje pasado por @input" (alertaPulsada)="onAlertaPulsada($event)"></app-calculadora>
<input type="text" [(ngModel)]="campoTexto"> -->

<!-- <div class="formulario">
  <div class="izquierda">
    <app-formulario (tareaCreada)="onTareaCreada($event)"></app-formulario>
  </div>
  <div class="derecha">
    <app-lista-form [tareas]="listaTareas"></app-lista-form>
  </div>
</div> -->

<!-- <p [ngStyle]="{color:'red', fontSize:'24px'}"> Ponemos estilos.</p>

<p [ngClass]="{semaforo: true, redondo: false}">Mostramos las clases que queramos.</p>

<p *ngIf="false; else elseBlock">Si es true se muestra, si es false se muestra el del else</p>
<ng-template #elseBlock>
  <p>Elseee</p>
</ng-template>

<ol>
  <li *ngFor="let persona of personas">
      {{persona.nombre}} {{persona.apellido}}
  </li>
</ol>

<div [ngSwitch]="opcionString">
  <p *ngSwitchCase="'uno'">Opcion 1</p>
  <p *ngSwitchCase="'dos'">Opcion 2</p>
  <p *ngSwitchDefault>Ninguna de las anteriores</p>
</div> -->

<!-- <h1 appSubrayado>Caja Registradora</h1>
<div class="container-caja-registradora">
  <div class="izquierda">
    <app-lista-productos titulo="Comida" [productos]="arrayComida" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>
    <app-lista-productos titulo="Bebida" [productos]="arrayBebida" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>
  </div>

  <div class="derecha">
    <app-comanda [listaProductos]="productosSeleccionados"></app-comanda>
  </div>
</div> -->
<div class="container container-lista-compra">
  <div class="row">
    <app-formulario-lista (productoCreado)="onProductoCreado($event)"></app-formulario-lista>
  </div>
  <div class="listas">
    <div class="izquierda">
      <app-lista-compra [productoRecibido]="arrayProductosCreados" (productoSeleccionado)="onProductoSeleccionado2($event)"></app-lista-compra>
    </div>
    <div class="derecha">
      <app-lista-compra [productoRecibido]="arrayProductosComprados" (productoSeleccionado)="onProductoNoSeleccionado($event)"></app-lista-compra>
    </div>
  </div>
</div>



